.navbar {
}

.tab {
  height: 40px;
  font-weight: 500;
  background-color: transparent;
  position: relative;
  bottom: -1px;

  &::before,
  &::after {
    background-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-7)
    ) !important;
  }

  &[data-active] {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
    border-bottom-color: transparent;
  }
}

.tabsList {
  &::before {
    display: none;
  }
}
