.show {
  width: 100%;
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));
  background-color: light-dark(white, var(--mantine-color-dark-7));

  a {
    text-decoration: none;
    color: light-dark(black, var(--mantine-color-dark-0));
  }
}

.show[data-last='true'] {
  border-bottom: none;
}
