.showList {
  overflow: hidden;
}

.scrollVisualizer {
  z-index: 1;
  height: 1px;
  transition: 0.2s ease-in-out;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-gray-8));
  box-shadow: light-dark(0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.9));
}
